/target/

# Change extension of this file to .gitignore

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

#Eclipse files
**/.project
**/.classpath
**/.settings/
blog/bin/
**/.tern-project
